/* General Styles */
    @font-face {
    font-family: Papyrus;
    src: url(font/papyrus.ttf);
   }
    body{
       max-width: 1600px;
       margin:0 auto;
       font-family: Papyrus;
       font-size: 100%;
    }
    a { color:white; 
        font-size:20px;
        text-decoration: none;
    }
  .container {
        text-align: center;
    }
  header {
       background: url(media/background-header.jpg)  no-repeat;
       height: 570px;
       padding:50px 0;
       background-size: 100% 100%;
       }
     
  .header h1 {
      color:white;
      font-size:80px;
      margin: 12% 0% 0% 0%;
      text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb,
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
    }
    
  .header h2 {
       color:white;
       font-size:30px;
       margin: 0% 0% 10% 0%;
       letter-spacing: 2px;
       font-weight:500;
       text-transform:uppercase;
       animation: blur 3s ease infinite;
       text-shadow:0px 0px 2px #fff,
       0px 0px 7px #CD3278;
    }

    @keyframes blur{
      from{
      text-shadow:
      0px  10px 80px #7B96B8,
      0px -10px 80px #B5B5B5,
      0px -10px 80px #CD3278;}
    }
  
  .page-navigation {
     padding-right: 20px;
     float: right;
   }
   .page-navigation a {
       font-size: 25px;
       padding-right: 20px;
   }
   .page-navigation a:hover {
       color: #CD3278;              /* #CD5C5C  #CD3278 #CD0000*/
   }
   .aboutme{
       text-align: center;
       font-size: 30px;
   }
   
   .arrow {
       margin-left: 850px;
       -webkit-transition: all 0.5s ease-out;
       -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
   }
   .arrow:hover {
       
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
   }
   
   
    .skills p, h3 {
        width:100%;
        text-align: center;
        
    }
    .skills p {
        font-size: 25px
    }
    .skills h3 {
        font-size: 70px;
        margin-top: 0%;
        margin-bottom:0%;
    }
   .skill-image {
       height: 200%;
       text-align:center;
   }
   .button-order {
       
       text-shadow: 2px 2px 2px black;
       margin-left:5%;
       position:fixed;
       opacity:1;
       border: 1px solid rgba(255,255,255,0.5);
       text-decoration:none;
       border-radius: 60px;
       border-bottom: 3px solid rgba(255,255,255,0.5);
       padding:7px;
       cursor:pointer;
       box-shadow:
       inset 0 25px rgba(219,112,147,0.2),
       inset 0 10px rgba(0,0,0,0.1),
       inset 0 10px 20px rgba(0,0,0,0.25),
       inset 0 -15px 30px rgba(	219,112,147,0.3);
    
   }
   .button-order:hover {
       opacity:0.55;
       filter:alpha(opacity=60);
   }